/* || General Styling */

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin: 0 100px;
    min-height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header,
.hero-container,
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.header h1{
    font-size: 24px;
    color: #f9fAF8;
}

.hero-container h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote-container {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote strong{ 
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
}

.cta-card {
    background-color: #3882F6;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    border-style: solid;
    border: 0;
    color: #F9FAF8;
    padding: 4px 18px;
    border-radius: 6px;
}

.cta-card button {
    border: 2px solid #F9FAF8;
}

/* || Flex Styling */

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 16px;
}

/* hero style */

.hero-container {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

/* content style */

.content-container{
    display: flex;
    justify-content: space-around;
}

.content-slide {
    display: flex;
    flex-direction: column;
    width: 200px; /* stretches the image without this */
}

.content-slide img{
    width: 150px;
}

/* quote style */
.quote-container {
    height: 300px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.quote strong {align-self: flex-end;}

/* Call to Action */



/* footer style */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    flex: none;
}